* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    height: 2em;
    width: 2em;
}

button,
#display {
    font-size: 35px;
    padding: 5px;
}

#calculator {
    border: 1px solid black;
    padding: 12px;
    display: flex;
    flex-direction: column;
}

#display {
    height: 3em;
    border: 1px solid black;
    padding: 2px;
    display: flex;
    flex-direction: column;
}

#collated-input {
    font-size: 1.5rem;
    border-bottom: 1px dotted black;
    flex: 1;
}

#input {
    max-width: 302.5px;
    font-size: 2rem;
    margin-left: auto;
    margin-right: 5px;
    display: inline-block;
    overflow: hidden;
    flex: 2;
}

#top-section {
    display: flex;
    gap: 12px;
}

#top-section,
#bottom-section {
    margin-top: 12px;
}

#bottom-section {
    display: flex;
    gap: 12px;
}

#bottom-section-left,
#numbers-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#seven-nine,
#four-six,
#one-three {
    display: flex;
    gap: 12px;
}

#zero-period-container {
    display: flex;
    gap: 12px;
}

#zero {
    flex: 1;
}

#bottom-section-right {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#operate {
    flex: 1;
}